---
import Base from "../layouts/Base.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import DashboardDemo from "../components/DashboardDemo.astro";
import Features from "../components/Features.astro";
import ShieldMode from "../components/ShieldMode.astro";
import NetworkHealth from "../components/NetworkHealth.astro";
import Download from "../components/Download.astro";
import Footer from "../components/Footer.astro";
---

<Base>
  <Nav activePage="home" />
  <div class="pt-11">
    <Hero />
  </div>
  <div id="how-it-works" class="scroll-mt-11">
    <Features />
  </div>
  <div id="privacy" class="scroll-mt-11">
    <ShieldMode />
  </div>
  <div id="app-demo" class="scroll-mt-11">
    <DashboardDemo />
  </div>
  <div id="network" class="scroll-mt-11">
    <NetworkHealth />
  </div>
  <div id="downloads" class="scroll-mt-11">
    <Download />
  </div>
  <Footer />
</Base>
